body {
    text-align: center;
}
body {
    font-family: "Arial","Meiryo","sans-serif";
}

html {
    font-size: 20px;
}
.blue {
    color: skyblue;
}

.pink {
    color: rgb(255,192,203);
}

h1 {
    font-family: "Josefin Sans",sans-serlt;
    font-size: 2rem;
    letter-spacing: 1.2em;
    text-shadow: 2px 2px 5px lightgray;
    border-bottom: 3px solid rgb(115,115,114);
}

#basic p {
    font-weight: bold;
}