#top {
   width: 800px;
   background-color: #dcc9f4;
   margin: 20px auto;
   text-align: center;
}

.top-child {
   display: inline-block;
   width: 20%;
   background-color: #ffd9df;
   margin: 10px 0;
}

#top {
   width: 800px;
   background-color: #dcc9f4;
   margin: 20px auto;
   text-align: center;
}

#middle {
   position: relative;
   width: 800px;
   height: 800px;
   background-color: #ffd9df;
   margin: 20px auto;
}

#middle-child01 {
   position: absolute;
   left: 100px;
   top: 100px;
   width: 200px;
   height: 200px;
   background-color: #87ceeb;
}

#middle-child02 {
   position: absolute;
   left: 300px;
   top: 300px;
   width: 200px;
   height: 200px;
   background-color: #87ceeb;
}

#middle-child03 {
   position: absolute;
   left: 500px;
   top: 500px;
   width: 200px;
   height: 200px;
   background-color: #87ceeb;
}
#bottom {
   width: 800px;
   height: 300px;
   background-color: #87ceeb;
   margin: 20px auto;
}

#bottom > div {
   width: 400px;
   height: 100px;
   background-color: #e5dcf0;
}

#bottom-child02 {
   position: relative;
   left: 200px;
}

#bottom-child03 {
   position: relative;
   left: 400px;
}